/* These styles are just to make it easier to see the blocks, initially. */

body {
	background-color: #EEE2D1;
	font-family: 'Baskervville', serif;
	padding: 60px 40px;
	display: flex;
	flex-direction: column;
}

a {
	color: royalblue;
}

h1 {
	font-size: 300%;
	font-family: 'Abril Fatface', serif;
	background: -webkit-linear-gradient(#EEE2D1, #493E30, #EEE2D1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
	font-size: 200%;
	font-family: 'Abril Fatface', serif;
	color: #493E30;
}

h3 {
	font-family: 'Baskervville', serif;
	font-style: italic;
	font-size: 150%;
	color: #493E30;
}

section,
figure {
	margin-top: 40px;
	max-width: 600px;
}

#channel-description > *,
figure > *:not(:first-child),
.description > *:not(:first-child),
.content > *:not(:first-child) {
	display: block;
	margin-top: 1em;
}

#background-box {
	display: block;
	margin-top: 6em;
}

header {
	position: fixed;
}



/* Clear them out once you’ve got your channel plugged in! */
